{% load static %}
<html>

    <head>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <script src="{% static 'myapp/sample.js' %}"></script>
        <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
        </div>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=911845922884633&autoLogAppEvents=1" nonce="FyRhwgt7"></script>
        
        <div 
            class="fb-login-button" 
            data-width="12" 
            data-size="large" 
            data-button-type="continue_with" 
            data-layout="default" 
            data-auto-logout-link="true" 
            data-use-continue-as="false"
            data-scope="public_profile,email,user_likes"
            onlogin ="getAccessToken">
        </div>

        {% csrf_token %}
        <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>




    </body>
</html>